*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #01072D;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
    background-color: #01072D;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 990px;
}

.logo{
    display: flex;
    align-items: center;    
}

.menu{
    display: flex;
    align-items: center;
}

nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    font-family: Verdana, sans-serif;
    border-radius: 15px;
    font-weight: bold;
}

nav a:hover{
    border-radius: 15px;
    background-color: #4F5FE8;
    transition: 0.3s;
}

#banner{
    display: flex;
    justify-content: center;
    background-image: url('../images/Banner.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column{
    flex-direction: column;
}

.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1{
    color: #FFFFFF;
    font-size: 55px;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 400px;
    font-family:Arial, Helvetica, sans-serif;
}

.banner_headline h2{
    color: #FFF;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 300px;
    margin-top: 30px;
}

.banner_options{
    height: 210px;
    display: flex;
}

.banner1,.banner2,.banner3{
    flex: 1;
    color: #FFF;
    padding: 20px;
    margin: 5px;
    background-color: #0D1321;
    border-radius: 10px;
    font-weight: bold;
}

.banner_title{
    color: #4F5FE8;
    font-size: 22px;
}

.banner_desc{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a{
    display: inline-block;
    border: 1px solid #4F5FE8;
    padding: 5px;
    color: #4F5FE8;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
}

.banner_options a:hover{
    background-color: #4F5FE8;
    color: #01072D;
    transition: 0.3s;
}


/*    Latest News     */

#geral{
    display: flex;
    justify-content: center;
    background-color: #01072D;
}

.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text{
    color: #FFFFFF;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar{
    width: 50px;
    height: 3px;
    background-color: #4F5FE8;
    margin-top: 7px
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
    max-height: 500px;
    max-width: 300px;
    border: 1px solid #FFF;
    border-radius: 10px;
    margin-top: 20px;
}

article a{
    text-decoration: none;
}

article .news_data{
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
}

article .news_posted_at{
    background-color: #4F5FE8;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 3px;
    border-radius: 10px;
}

article .news_comments{
    background-color: #4F5FE8;
    color: #FFF;
    font-size: 13px;
    padding: 10px;
    border-radius: 8px;
}

article .news_comments img{
    display: inline-flex;
    vertical-align: top;
}

article .news_thumb{
    margin-top: 0px;
}

article .news_thumb img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all 0.2s;
}

article .news_thumb img:hover{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.02);
  }

article .new_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #FFF;
    font-size: 23px;
    margin-left: 10px;
    margin-bottom: 10px;
}

article .news_resume{
    color: #FFF;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
}



/* esse é do titulo principal */

.title_bar{
    width: 110px;
    height: 3px;
    background-color: #4F5FE8;
    margin-top: 10px;
}



/*    services      */

.container_service{
    display: flex;
    height: 800px;
    justify-content: space-between;
    width: 90%;
    max-width: 990px;
}

.banner_services{
    display: flex;
    flex: 3;
    justify-content: center;
    flex-wrap: wrap;
}


#services{
    display: flex;
    justify-content: center;
    background-color: #01072D;
}

.service_options{
    height: 210px;
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
}

.service1,.service2,.service3,.service4,
.service5,.service6{
    color: #FFF;
    padding: 15px;
    margin: 5px;
    background-color: #0D1321;
    border-radius: 10px;
    width: 280px;
    height: 280px;
}

.service_title{
    color: #10E8E4;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.service_desc{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.botao a{
    display: inline-block;
    border: 1px solid #10E8E4;
    padding: 5px;
    color: #10E8E4;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.botao a:hover{
    background-color: #10E8E4;
    color: #01072D;
    transition: 0.3s;
}

.icon{
    padding: 10px;
    text-align: center;
}

.widget_body{
    color: #FFF;
    font-weight: bold;
}


/*  Footer */

footer{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_area a{
    display: block;
    color: #FFF;
    text-decoration: none;
}

.footer_area{
    display: flex;
}

.area{
    flex: 1;
    color: #FFF;
}

.flexColumn{
    flex-direction: column;
}

.footer_copy{
    border-top: 1px solid #555555;
    height: 40px;
    line-height: 40px;
    color: #e6dfdf;
    font-size: 13.5px;
    margin-top: 30px;
}

.footer_copy strong{
    color: #10E8E4;
}

.img_footer img{
    border-radius: 6px;
    margin-left: 35px;
}

.widget_body_socials{
    display: flex;
}

.widget_body_socials a{
    margin-left: 10px;
}

.widget_body_nav a{
    margin-bottom: 20px;
}

.widget_body_nav a:hover{
    color: #10E8E4;
    font-weight: bold;
}

.widget_title_text_icon{
    color: #FFFFFF;
    font-size: 21px;
    font-weight: bold;
    margin-left: 11px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.flexColumn .footer_area{
    margin-left: 100px;
}


/*   responsividade   */


@media (min-width: 1144px) {
    .container_service{
        height: auto;
    }

    .flex{
        margin-left: 20px;
    }


}


@media (max-width:1144px){
    .menu{
        margin-right: 20px;
    }

    .banner_headline h1{
        font-size: 47px;
        padding: 25px;
    }
    
    .banner_headline h2{
        font-size: 22px;
        padding-left: 25px;
    }

    .title_bar{
        width: 50px;
        margin-left: 25px;
        margin-bottom: -5px;
        margin-top: -5px;
    }

    article{
        width: 100%;
        min-width: 230px;
    }

    .flex{
        margin-left: 20px;
    }

    .container_service{
        height: auto;
    }

    .footer_copy{
        padding-left: 30px;
    }

  
}


/* menu mobile */

.menuMobile{
    display:none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line{
    height: 3px;
    background-color: #4F5FE8;
}

@media (max-width:795px){
    .banner_options{
        height: auto;
        flex-direction: column;
        height: 450px;
    }

    .banner_options div{
        height: 15px;
        width: 420px;
    }

    .banner_options a{
        margin-top: 10px;;
    }

    .menu{
        padding-right: 40px;
    }

    #banner{
        height: 680px;
    }

    .banner_headline h1{
        font-size: 35px;
        padding: 20px;
    }
    
    .banner_headline h2{
        font-size: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .title_bar{
        width: 50px;
        margin-left: 20px;
        margin-bottom: -15px;
        margin-top: -15px;
    }

    header .container{
        flex-direction: row;
    }

    article{
        width: 100%;
        max-width: 335px; 

    }

    .flex{
        padding-left: 15px;
    }

    .container_service{
        height: auto;
    }

    .footer_copy{
        padding-left: 20px;
    }


    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        margin-left: -50px;
        border-radius: 14px;
        width: 150px;
        background-color:#0D1321;
    }

    header{
        height: auto;
    }

    .logo{
        padding-left: 20px;
    }

    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}




@media (max-width:510px) {
    .banner_headline h1{
        font-size: 27px;
        width: 250px;
    }

    .banner_headline h2{
        font-size: 16px;
    }

    .menuMobile{
        width: 30px;
        height: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 10px;
    }

    .banner_options{
        height: 390px;
        margin-bottom: 50px;
        
    }

    .banner_options div{
        height: 7px;
        width: 325px;
    }

    .banner_options a{
        margin-top: 8px;;
    }

    .banner_options .banner_title{
        font-size: 18px;
    }

    .banner_options .banner_desc{
        font-size: 12px;
        margin-top: 16px;
    }

    .banner_options a{
        font-size: 10px;
        margin-top:20px;

    }

    /* footer  */

    .footer_copy{
        font-size: 10px;
    }
    
    .footer_area{
        flex-direction: column; 
        justify-content: center;
    }
    .flexColumn .widget{
        margin-left: 50px;
        border-top: 1px solid #555555;
        margin-right: 50px;
    }

    .flexColumn .footer_area{
        margin-left: 70px;
    }


}

